<header id="top-header">
    <span class="siteName">
        <a href="/home" title="Return to Home Page">World Chat</a>
    </span>
    <div id="tools">
        <a href="#" title="Profile"><img src="#" alt="Profile"></a>
    </div>
</header>